<h1>FOCUS app</h1>

<h2>What is this all about?</h2>
This is designed for anyone who is looking to find creative inspiration without the noise and distraction of social-media that most photos sharing websites incporporate these days.

<h2>But why would we want to be part of a community with no social sharing love?</h2>
Sometimes you just need to remove all of the distractions.




