@import url(https://fonts.googleapis.com/css?family=Signika);

ul {
	padding: 20px;	
	background: rgba(128, 128, 128, 0.5);
	border-radius: 5px;
	position: center;
	float: left;
}

.login {
	text-align: left;
	font-size: 18px;
}

.unlogged {
	text-align: right;
}

.container {
	max-width: 960px;
	margin: auto;
	background: rgba(255, 255, 255, 0.7);
	padding: 1em;
	border-radius: 5px;
}

a {
	padding: 0px 3px 0px 3px;
	position: left;
}

a:link, 
a:visited {
	color: black;
}

img {
	max-width:100%;
	max-height:100%;
}

.href {
	max-width: 940px;
	margin: auto;
}

.user.nav.bar {
	vertical-align: center;
}

.user.edit {
	text-align: right;
}

.user.back {
	text-align: left;
}

html {
	font-family: 'Signika', sans-serif;
	background-color: #D4D4D4;
}

nav {
	text-align: center;
	vertical-align: center;
	display: inline;
	padding: 10px 30px 10px 30px;
	font-size: 18px;
	border-radius: 5px;
}

html {
	font-family: 'Signika', sans-serif;
	background-color: #D4D4D4;
}

article {
	font-size: 14px;
}

a:hover {
	color: #828282;
	font-weight: bold;
}

.tilt {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(+5deg);
  -moz-transform: rotate(+5deg);
  -o-transform: rotate(+5deg);
  -ms-transform: rotate(+5deg);
  transform: rotate(+5deg);
}

input[type=submit] {
	padding:5px 15px; 
	background:#A8A8A8; 
	border:0 none;
	cursor: pointer;
	border-radius: 5px; 
}

@media (max-width: 500px) {
	html {
		background-size: fit;
	}
	nav {
		font-size: 14px;
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 18px;
	}
	p {
		font-size: 14px;
	}
	li {
		display: block;
		padding: 6px;
		font-size: 12px;	
	}
	img {
		max-width: auto;
	}
	a {
		font-size: 12px;
	}
}